@import "config.css";
@import "blocks/wrapper.css";
@import "blocks/card.css";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--page-background-color);
    height: 100%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
